body {
    background-image: url(https://s3.amazonaws.com/files.technologyreview.com/p/pub/images/climacelltopper.jpg);
}

#form-container {
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    padding: 25px;
    font-size: 16px;
    background-color: white;
    opacity: 75%;
}

.dashboard {
    margin: 2%;
    position: center;
}

#icon {
    width: 6%;
    height: auto;
}

#icon2 {
    width: 50%;
    height: auto;
}

.input-group {
    margin-bottom: 20px;
}

#weather-container {
    background-color: white;
    opacity: 75%;
    height: 600x;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 25px;
    font-size: 16px;
}

.current-weather {
    margin: 0px auto;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 0px;
    font-size: 16px;
}

.btn-outline-info {
    color: black;
    border-color: blue;
    background-color: chartreuse;
}

.btn-info {
    color: blue;
    background-color: blue;
}

.fa-search {
    font-size: 25px;
}

.day {
    color: #ffffff;
    background: rgb(5, 20, 224);
    margin: 0px auto;
    margin-top: 20px;
    height: 225px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    font-size: 16px;
}

.day-label {
    margin: 10px 0px 0px 15px;
}

li {
    list-style-type: none;
}

.card-body {
    padding: .25rem;
    max-width: max-content;
}

h5 {
    position: relative;
}

h6 {
    text-align: center;
}